body {
  padding-top: 50px;
}
.container h3:first-child {
	margin-top: 120px;	
}
/* for grid */
h3 {
  font-size: 28px;
  /*font-weight: bold;*/
}
h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
  margin-top: 30px;
}
.row span {
  font-size: 1.3em; 
}
.row span + p {
  font-size: 1.5em;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
.margin0 {
	margin-top: 10px;
	margin-bottom: -50px;
	/*margin: 0px auto;*/
}

/* for decoration bar */
.bar {
	border-bottom: 1px solid #f00;
	width: 10%;
}
.bar + p {
  margin-top: 10px;
  font-size: 18px;		
}
.nav .bar {
	border-bottom: 2px solid #f00;
	margin-top: 20px;
	width: 20%;
}
.special {
	color: red;
}
.pg-guide-line {
	border-bottom: 1px solid #ccc;
}

/* for circular chart */
.chart-circular {
	margin-left: 15%;
	display: inline;
}
.circle-text-half {
    color: #999;
    margin-top: 30px;
}	
.circle-info-half {
    margin-top: 50px;
}
.chart-text {

}
.chart-text span {
	width: 40%;
    color: #999;	
	text-align: center;
	position: relative;
	top: -80px;
	margin-left: -2%;
	display: inline-block;	
	/*border: 1px solid #f00;*/
}
.chart-text  span:first-child {
	margin-left: 5%;
	vertical-align: top;
}

/* for navigation bar */
.navbar {
	background-color: #eee;
	border-bottom: 1px solid #ccc;
}
.navbar-header {
    height: 150px;
}
.navbar .nav  li  {
	margin-top: 20px;
	margin-left: 0px;
	padding: 0px;
}
.navbar .nav  li:last-child {
	margin-left: 30px;
}
.navbar .nav  li  span {
	margin-left: 10px;
}
.navbar .nav > li > i {
    color: #555;
}
.navbar-brand {
	margin-right: 7px;
}
.navbar-img {
    position: absolute;
    top: 15px;
    right: 60px;
}
.navbar-toggle {
	display: none;
}	

/* for bar chart */
#chart-div {
	margin: 10px auto 0 auto;
}	